---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div class="r-stack">
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src=`${import.meta.env.BASE_URL}/js_implementation/1.png` />
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src=`${import.meta.env.BASE_URL}/js_implementation/2.png` />
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src=`${import.meta.env.BASE_URL}/js_implementation/3.png` />
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src=`${import.meta.env.BASE_URL}/js_implementation/4.png` />
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src=`${import.meta.env.BASE_URL}/js_implementation/5.png` />
  </div>
</Slide>
